@model BootData.Models.MovieViewModel.RandomViewModel
@{
    ViewBag.Title = "Random";
}

<h1>Movie Name</h1>


<p>@Model.Movie.Name</p>

<h1>Customer Name:</h1>
@foreach(var item in Model.Customer)
{
    <p>@item.Name</p>
}
